.none {
  display: none;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 50px;
}

li {
  list-style: none;
}

hr {
  margin: 5em 0;
}

* {
  text-align: center;
}

pre {
  text-align: left;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-bottom: #ccc;
  h1 {
    margin: 0;
    padding: 10px 0;
  }
}

.introduce {
  main {
    font-size: 40px;
  }
}

p {
  margin: 0;
  // line-height: 2em;
  font-size: 40px;
}

blockquote {
  margin: 0;
  padding: 0 20px;
  border-color: #ccc;
  font-size: 40px;
}

ol, ul {
  font-size: 40px;
}

pre {
  margin: 1em 2em 2em;
  font-size: 20px;
}

img {
  width: 50%;
}
